@import url("../js/mdbootstrap/css/bootstrap.min.css");
@import url("../js/font-awesome/css/font-awesome.min.css");
@import url("../js/mdbootstrap/css/mdb.min.css");
html {
  min-height: 100% !important;
  height: 100%; }

.bg-body {
  background: url("../images/construction-tractor-excavator-site.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .d-flex {
    padding-left: 3rem;
    padding-right: 3rem; } }

.height-vh {
  height: 100vh !important; }

.home-button {
  position: absolute;
  top: 20px;
  right: 10px;
  }
  .home-button a{color: #6efae3;}
  @media (max-width: 768px) {
    .home-button {
      top: 15px; } }

.fa-chevron-down {
  transition: all 1s;
  -webkit-transition: all 1s; }

.rotate-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

.home {
  width: 100%;
  height: auto; }
  .home .d-flex {
    width: 100%;
    overflow: auto;
    background: rgba(9, 46, 51, 0.671);
    min-height: 100vh; }
    @media (max-width: 767px) {
      .home .d-flex {
        padding-bottom: 42px; } }
    .home .d-flex .login {
      min-width: 30%; }
      @media (max-width: 767px) {
        .home .d-flex .login {
          width: 90%;
          margin-left: 5%;
          margin-top: 70px; } }
      .home .d-flex .login .custom-space {
        margin-top: -77px;
        margin-bottom: 32px;
        box-shadow: 0px 2px 10px #dcdcdc;
        background: #79deff; }
    .home .d-flex .btn-default {
      background: #9adae2;
      /* Old browsers */
      background: -moz-linear-gradient(-45deg, #9adae2 0%, #0080e2 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #9adae2 0%, #0080e2 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #9adae2 0%, #0080e2 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .home .d-flex .title-menu {
      min-width: 60%; }
      @media (max-width: 767px) {
        .home .d-flex .title-menu {
          width: 90%;
          margin-left: 5%;
          margin-bottom: auto;
          margin-top: 50px; } }
      .home .d-flex .title-menu h1 {
        width: 100%; }

.welcome .d-flex {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(9, 46, 51, 0.671); }
  @media (max-width: 767px) {
    .welcome .d-flex {
      padding-bottom: 42px; } }

@media (max-width: 767px) {
  .welcome .container {
    padding-top: 200px; } }

.welcome .container .custom-height .custom-padding {
  padding: 20px 0px;
  background: #2b187c;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #2b187c 0%, #c900ed 50%, #ff02ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2b187c 0%, #c900ed 50%, #ff02ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2b187c 0%, #c900ed 50%, #ff02ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  transition: all 1s;
  -webkit-transition: all 1s;
  font-weight: bold; }
  .welcome .container .custom-height .custom-padding a {
    color: white; }
    .welcome .container .custom-height .custom-padding a:hover {
      color: white; }
  .welcome .container .custom-height .custom-padding:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: #fff9f9;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #fff9f9 0%, #00a9ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fff9f9 0%, #00a9ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fff9f9 0%, #00a9ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.data-tables {
  width: 100%;
  min-height: 100vh;
  background: #eeeeee; }
  .data-tables .table-body .container {
    box-shadow: 0px 0px 10px #d6d7d9;
    background: white; }
    .data-tables .table-body .container h2 {
      background: #00365c;
      margin-left: -15px;
      margin-right: -15px; }
      @media (max-width: 767px) {
        .data-tables .table-body .container h2 {
          font-size: 1.5rem; } }
    .data-tables .table-body .container .bg-no {
      background: transparent; }
    .data-tables .table-body .container .border-b {
      border-bottom: 1px dashed #acacac; }
    .data-tables .table-body .container h3 {
      /* color: #0070bf; */
      color: #00365c;
      font-weight: bold; }
      @media (max-width: 640px) {
        .data-tables .table-body .container h3 {
          font-size: 1rem; } }
    .data-tables .table-body .container .md-form {
      margin: 0px; }
    .data-tables .table-body .container .vertical-align-no {
      vertical-align: inherit; }
      @media (max-width: 767px) {
        .data-tables .table-body .container .vertical-align-no {
          margin-top: .5rem; } }
    .data-tables .table-body .container .mt-sm-2 {
      margin-bottom: 1rem; }
      @media (max-width: 767px) {
        .data-tables .table-body .container .mt-sm-2 {
          margin-top: 1rem; } }
    .data-tables .table-body .container .table-report .w-custom {
      width: 65%; }
      @media (max-width: 767px) {
        .data-tables .table-body .container .table-report .w-custom {
          width: 100%; } }
    .data-tables .table-body .container .table-report table tr {
      height: 50px; }
      .data-tables .table-body .container .table-report table tr td {
        border: 1px solid #e6e6e6;
        padding: 5px; }

        /* big checkbox */
        .big-check{
          width:17px;
          height:17px;
        }

        /* pay button */
        .btn-pay,.btn-material,.btn-credit{
          background: #ef5350;
          border:none;
          color: #ffffff;
          width: 100px;
          height: 38px;
          cursor: pointer;
        }

        /* bill table styles */
        .table-bill .b-radius{
          border-radius: 12px;
        }
        .table-bill .border-dotted{
          border-bottom: 1px dotted #bdbdbd !important;
        }
        
        .table-bill .h-118px{
          min-height: 118px;
        }
        .table-bill .modal-body{
          overflow:auto; 
        }

        @media (min-width: 992px){
          .table-bill .modal-lg {
              max-width: 992px;
          }
        }
        @media (max-width: 991px){
          .table-bill .modal-dialog {
             max-width: 100%;
          }
        }



        /* new styles start */
        .form-inline .form-control{
          width: 100%;
        }
        .form-inline input{
          font-weight: bold;
        }
        .form-inline .form-control{
          width: 100%;
        }
        .form-inline input{
          font-weight: bold;
        }
        .w-35-custom{
          width: 35%;
        }
        @media (max-width: 767px){
          .w-35-custom{
            width: 50%;
          }
        }
        .md-form.form-sm input[type="date"]{
          line-height: 1.5;
        }
        #productionModal h2,#productionSubModal h2,#creditorsLabel h2{
          background: #00365c;
        }
        .h-custom{
          height: 24px !important;
        }
        
        /* new styles end */